@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}

/*=================================
  main styling starts here
=================================*/
html {
  font-size: 62.5%;
}

main {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #EAF0F2;
}

h2 {
  margin: 4% 0;
  font-size: 2.5rem;
  text-align: center;
  text-transform: capitalize;
}

.output {
  margin-bottom: 3%;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 13.5%;
  border-radius: .8rem;
  overflow: hidden;
}

.box_heading {
  padding: 1rem;
  background-color: #ab9eee;
  color: #ffffffa1;
  font-size: 1.5rem;
  text-align: right;
  text-transform: uppercase;
}

.box_content {
  width: 100%;
  height: 18rem;
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.user_input_form {
  display: flex;
}

.input_field {
  padding-left: 3rem;
}

label {
  margin-bottom: .5rem;
  display: block;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.text_area {
  width: 55%;
}

textarea {
  max-width: 100%;
  width: 100%;
  height: 25rem;
  border: .1rem solid #8080806b;
}

.update {
  margin-top: 2rem;
}

.update input {
  padding: 1rem 2rem;
  border: none;
  border-radius: .2rem;
  background-color: #0186EF;
  color: #ffffff;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.year input {
  width: 18rem;
  padding: .7rem;
  border: .1rem solid #8080806b;
  border-radius: .2rem;
}





/*=================================
  main styling ends here
=================================*/
